.App {
  text-align: center;
}

body{
  margin: 100px auto;

  padding: 10px 20px 10px 20px;
  background-color:cornsilk;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form{
  border: 1px solid;
  width: 100%;
  height: 400px;
  background-color:orchid;
  text-align: center;
}

.valid{
  border: 1px solid;;
  width: 200%;
  height: 300px;
  font-size: xx-large;
  background-image:url("C:\Users\SSLTP11338\Downloads\rv.jpg");
  background-color: blue;
}
